.container {
  margin-bottom: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  font-family: Inter, monospace;
  color: #1c3152;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.button-selected {
  background-color: #1c3152;
  color: #fff;
  height: 3rem;
  width: 15%;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-family: Inter, monospace;
  cursor: pointer;
  border-radius: 10px;
}

.buttons__neighborhood-button {
  height: 3rem;
  width: 15%;
  color: #fff;
  background-color: #c1c1c1;
  border: none;
  font-size: 1rem;
  font-family: Inter, monospace;
  cursor: pointer;
  border-radius: 10px;
}

.buttons__neighborhood-button:hover{
  background-color: #1c3152;
  color: #fff;
}

.schools-table {
  margin-top: 3rem;
}

.schools-table__info {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.schools-table__info td, .schools-table__info th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #1c3152;
}

.schools-table__info tr:nth-child(even){background-color: #f2f2f2;}

.schools-table__info tr:hover {background-color: #ddd;}

.schools-table__info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c3152;
  color: #fff;
}